.menu_TProyecciones{
		max-width: 940px;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		overflow: auto;
		display: block;
	}
	
	.menu_TProyecciones li{
		float: left;
		list-style: none;
		background: #89c277;
		height: 76px;
		width: 294px;
		margin: 0px 29px 10px 0px;
		cursor: pointer;
	}

	.menu_TProyecciones li:nth-child(3n){
		margin-right: 0px;
	}
	
	.menu_TProyecciones li .numdate{
		height: auto;
		display: block;
		font-size: 13px;
		color: #D1FFC3;
		padding: 0px 2px 0px 0px;
	}
	
	.menu_TProyecciones li .numdate span{
		padding: 0px 7px 0px 7px;
	}

	.menu_TProyecciones li .numdate dd{
		float: right;
		color: #41852c;
	}

	.menu_TProyecciones li blockquote{
		/*background: #89c277;*/
		padding: 2px 5px 2px 5px;
		font-family: Arial;
		font-size: 13px;
		max-height: 33px;
		overflow: hidden;
		height: 33px;
		color: #FFFFFF;
	}

	.menu_TProyecciones li strong{
		height: auto;
		font-size: 13px;
		color: #B22E2E;
		float: right;
		padding: 0px 8px 0px 0px;
	}

	.menu_TProyecciones li strong sup{
		margin: 0px 5px 0px 0px;
		padding: 0px 0px 0px 7px;
		color: #D95050;
	}

	.menu_TProyecciones li .bg_new_proyeccion{
		background: url(../img/bg_new_proyeccion.png) no-repeat; 
		height: 76px;
		width: 294px; 
	}