.access{
	overflow: auto;
	display: block;
	background: url(http://localhost/statics/img/fondo/backgroundpixbody.png);
}

.bannerTop{
	max-height: 230px;
	height: auto;
	width: 100%;
	max-width: 960px;
	overflow: auto;
	margin: 0 auto;
	background: #579aca;
}

.optionfocushome{min-height: 340px;}

.socialplugins{
	height: 24px;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.inicialheader{
	border-bottom: 2px solid #272822;
	width: 100%;
	background: #454545;
	color: white;
}

.galeria{
	width: 435px;
	max-width: calc((100% / 2) - 9.375%); /* 435 - 90 - 435 == 960 */
	background: green;
	height: 450px;
}

.multimedia{
	width: 600px;
	max-width: calc(((100% / 2) + 9.375%) - 20px);
	background: green;
	height: 450px;
}

.menuhome{height: 40px; float: right; width: 724px; display: inline-block; background: url(http://localhost/statics/img/fondo/menuhome.png) repeat-x; }
.menuhome a{
	text-decoration: none; 
	color: white; 
	height: 20px; 
	min-width: 20px; 
	padding: 8px 10px 10px 10px;
	float: left;
	border-bottom: 4px solid white;
}

.menuhome a:not(.lnkfocus):hover{background: #afdd90;}
.menuhome a.lnkfocus{
	background: #83ba51;
	border-bottom: 4px solid orange;
}
.menuhome a.lnkfocus:focus{background: #83ba51;}


.copyright{
	display: block;
	width: 100%;
}

footer #sectionfooter{
	padding-top: 2px;
}

.logohome{
	width: auto;
	display: inline-block;
	overflow: auto;
}

.contentfotogaleria{
	width: 100%;
	max-width: 100%;
	background: gray;
	height: 50%;
	display: block;
}

.contentfotogaleria img{
	max-height: 100%;
}

.circlebutton{
	background: orange;
	padding: 10px;
}

.negative10top{
	margin-top: -25px;
	position: absolute;
}

.circlebutton.negative10top.reducemidle{
	margin-left:-25px;
}

.devocional{
	height: 60px;
	display: block;
	overflow: auto;
	width: 742px;
}

.msg_dev{
	overflow: auto;
	display: block;
}

.msg_dev .cunha{
	width: 18px;
	height: 40px;
	background: url(http://localhost/statics/img/icons/cunha.png) no-repeat;
	display: inline-block;
	float: left;
}

.msg_dev .mensaje{
	background: #ffe168;
	color: #c59f13;
	display: inline-block;
	width: 716px;
	height: 34px;
	padding: 2px 4px 4px 4px;
}

.useraccess{
	float: right;
	width: 80px;
	height: 23px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	background: gold;
	border-right: 5px solid green;
	margin-top: 2px;
}

/* laterales rasgados */
.rasgadoL{
	float: left;
	width: 20px;
	background: url(http://localhost/statics/img/fondo/roto_l.png);
	height: 1500px;
}

.rasgadoR{
	float: left;
	width: 20px;
	background: url(http://localhost/statics/img/fondo/roto_r.png);
	height: 1500px;
}

.allcontent{
	background: #FFFFFF;
}

.lnkfacebook{
	background: url(http://localhost/statics/img/icons/facebook_metro.png) no-repeat;
	width: 70px;
	height: 26px;
	margin-left: 0px;
}

.rutabiblica{
	float: right;
	color: violet;
	display: block;
	text-align: right;
}

.icn_mas{
	background: url(http://localhost/statics/img/icons/icn_mas.png) right center no-repeat;
}

.msgtop{
	min-height: 10px;
	display: block;
	width: 100%;
}

.img_responsive{
	max-width: 100%;
	height: auto;
}


/** slider **/

.sliderpanel{
	background: orange;
	position: relative;
}

.sliderpanel .controls{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
}
