.access{
	overflow: auto;
	display: block;
	background: url(http://localhost/statics/img/fondo/backgroundpixbody.png);
}

.bannerTop{
	max-height: 230px;
	height: auto;
	width: 100%;
	max-width: 960px;
	overflow: auto;
	margin: 0 auto;
	background: silver;
}

.optionfocushome{min-height: 340px;}

.socialplugins{
	height: 24px;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.inicialheader{
	border-bottom: 2px solid #272822;
	width: 100%;
	background: #454545;
	color: white;
}

.galeria{
	width: 435px;
	max-width: calc((100% / 2) - 9.375%); /* 435 - 90 - 435 == 960 */
	background: green;
	height: 450px;
}

.multimedia{
	width: 600px;
	max-width: calc(((100% / 2) + 9.375%) - 20px);
	background: green;
	height: 450px;
}

.menuhome{height: 35px;padding-top: 5px; display: inline-block;}
.menuhome a{display: inline-block;}.menuhome a:hover{background: gold;}

.copyright{
	display: block;
	width: 100%;
}

footer #sectionfooter{
	padding-top: 2px;
}

.logohome{
	width: auto;
	display: inline-block;
	overflow: auto;
}

.contentfotogaleria{
	width: 100%;
	max-width: 100%;
	background: gray;
	height: 50%;
	display: block;
}

.contentfotogaleria img{
	max-height: 100%;
}

.circlebutton{
	background: orange;
	padding: 10px;
}

.negative10top{
	margin-top: -25px;
	position: absolute;
}

.circlebutton.negative10top.reducemidle{
	margin-left:-25px;
}

.devocional{
	height: 60px;
	background: #ffe168;
	color: #c59f13;
	display: inline-block;
	overflow: auto;
}

.useraccess{
	float: right;
	width: 90px;
	height: 23px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: right;
	background: gold;
	border-right: 5px green;
}

/* laterales rasgados */
.rasgadoL{
	float: left;
	width: 20px;
	background: url(http://localhost/statics/img/fondo/roto_l.png);
	height: 1500px;
}

.rasgadoR{
	float: left;
	width: 20px;
	background: url(http://localhost/statics/img/fondo/roto_r.png);
	height: 1500px;
}

.allcontent{
	background: #FFFFFF;
}
