###########################################################################
# Permite analizar archivos css como php para regular la variables PHP, CSS
<Files *.scss>
	# <?php header("Content-type: text/css; charset: UTF-8"); ?> 
	ForceType application/x-httpd-php
	AddHandler application/x-httpd-php .scss
</Files>
###########################################################################